* {
    font-family: 'Iosevka NFM';
    font-size: 24px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: #191719;
}

#network, #wireplumber, #backlight, #battery, #clock.date, #clock.time {
    background-color: #FFFCFF;
    border: 0;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* #battery.critical:not(.charging) { */
/*     color: red; */
/*     animation-name: blink; */
/*     animation-duration: 1s; */
/*     animation-timing-function: linear; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */

tooltip {
    background-color: #FFFCFF;
    border: 0;
    border-radius: 5px;
}

tooltip label {
	font-size: 18px;
	font-weight: normal;
	color: #191719;
	padding: 0px;
}
