configuration {
    font: "Caskaydia Cove Nerd Font 11";
    display-drun: ">_ ";
    display-window: "? ";
    show-icons: false;
    cycle: false;
    sort: false;
    case-sensitive: false;
    window-format: "{c}";
    disable-history: true;
    modi: [window, drun];
}

@theme "themes/dark.rasi"
