configuration {
    font: "JetBrains Mono 11";
    display-drun: ">_ ";
    display-window: "? ";
    display-filebrowser: "-> ";
    icon-theme: "ePapirus";
    show-icons: false;
    cycle: false;
    sort: false;
    case-sensitive: false;
    window-format: "{c}";
    disable-history: true;
    modi: [window, run, drun, filebrowser];
}

@theme "themes/dark.rasi"