configuration {
    font: "Monospace 10";
    display-drun: "> ";
    display-window: "> ";
}

@theme "/dev/null"

* {
    background-color: #303030;
    border: 0;
    margin: 2;
    padding: 0;
    spacing: 0;
}

window {
    width: 20%;
    border-radius: 5px;
}

listview {
    lines: 3;
    scrollbar: false;
}

element selected {
    background-color: #505050;
}

element-text {
    background-color: inherit;
}